name: build-all-images

on:
  push:
    branches:
      - main

jobs:
  build-nextcloud-82:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASS }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ./nextcloud/8.2
          push: true
          tags: ${{ secrets.REG_USER }}/php-fpm:8.2-nextcloud

  # build-nextcloud-83:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: docker/setup-qemu-action@v3
  #     - uses: docker/setup-buildx-action@v3
  #     - uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.REG_USER }}
  #         password: ${{ secrets.REG_PASS }}
  #     - uses: docker/build-push-action@v5
  #       with:
  #         platforms: linux/amd64,linux/arm64
  #         context: ./nextcloud/8.3
  #         push: true
  #         tags: ${{ secrets.REG_USER }}/php-fpm:8.3-nextcloud

  build-wordpress-82:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASS }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ./wordpress/8.2
          push: true
          tags: ${{ secrets.REG_USER }}/php-fpm:8.2-wordpress

  # build-wordpress-83:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: docker/setup-qemu-action@v3
  #     - uses: docker/setup-buildx-action@v3
  #     - uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.REG_USER }}
  #         password: ${{ secrets.REG_PASS }}
  #     - uses: docker/build-push-action@v5
  #       with:
  #         platforms: linux/amd64,linux/arm64
  #         context: ./wordpress/8.3
  #         push: true
  #         tags: ${{ secrets.REG_USER }}/php-fpm:8.3-wordpress